body{
  background-color: rgb(233, 210, 168);
  margin: 10%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  margin-left: 45px;
  margin-right: 55px;
  background-color: #7bda56; 
  border: 2px solid #000000;
  text-align: center;
  text-shadow: 0 0 5px #0a4908, 0 0 5px #ec9292;
}
h2{
    
  text-shadow: 0 0 5px #ffffff, 0 0 5px #fafafa;
}

.barra{
  border-radius: 5px;
  background-color: rgb(233, 210, 168);  
}
  h1{
    background-color: rgb(241, 222, 192); 
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0 0 5px #ffc55a, 0 0 5px #92adec;
 }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(255, 231, 209);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #af784c;
    color: rgb(255, 232, 197);
    padding: 9px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    padding: 14px;
    background-color: #af784c;
  }
  
  
   /* Style the header */
   .header {
    background-color: rgb(233, 210, 168);
    padding: 1px;
    text-align: center;
    font-size: 35px;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
    padding: 20px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    padding: 20px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
    background-color: rgb(233, 210, 168);;
    padding: 40px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
   /* estilo de barra superior */
   .topnav {
    margin-left: 45px;
    margin-right: 55px;
    overflow: hidden;
    background-color: rgb(172, 104, 41);
    border: 2px solid rgb(0, 0, 0);
    }
  
  /* estilo de los enlaces topvaz=botones */
    .topnav a {
    float: left;
    display: block;
    color: rgb(233, 210, 168);;
    text-align: center;
    padding: 11px 120px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
     }
  
  /* cambiar de color al pasar el raton */
  .topnav a:hover {
    background-color: rgb(233, 210, 168);;
    color: black;
  }
  form{
       
    background-color: rgb(233, 210, 168); 
}