body{
    background-color: rgb(185, 199, 202);
    margin: 2%;
    margin: 2%;
    }
/* estilo de barra superior */
.topnav {
    padding:  auto;
    overflow: hidden;
    background-color: #c8d8e6;
    border: 2px solid rgb(0, 0, 0);
    }
  
  /* estilo de los enlaces topvaz=botones */
    .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 11px 123.9px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
     }
  
  /* cambiar de color al pasar el raton */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
    table{
       background-color: #a9b3c5;
       border-style: dotted;
       border-color: aliceblue;
       border-bottom-color: rgb(122, 187, 248);
      
   }

   h1{
       background-color: #c8d8e6; 
       border: 2px solid #000000;
       text-align: center;
       text-shadow: 0 0 5px #515d72, 0 0 5px #5a487c;
    }

    h2{
       text-align: absolute;
       text-shadow: 0 0 5px #ffffff, 0 0 5px #fafafa;
    }

    h3{
       color: rgb(255, 94, 0);
       text-align: center;
       text-shadow: 0 0 5px #ffffff, 0 0 5px #fafafa;
    }

   form{
       
       background-color: #72c3f8;
   }

   h3{
    color: rgb(27, 158, 71);
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 5px #fafafa;
 }

   video{
       text-align: center;
    }
   a:hover{
       color: rgb(146, 85, 27);

    }
    .fotitos {
        text-align: center;
        padding: 10px;
    }
    p{ 
        text-indent: 50px;
    
    }